.cover__background {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background: #2A2C2F;
  opacity: 0.8;
  transition: opacity 0.6s linear;
}

.cover__background:hover {
  background: #2A2C2F;
  opacity: 0.3;
}
